/* @font-face { 
  font-family: 'SUIT Variable';
  src: url('./SUIT-Variable.ttf') format('truetype');
} */

li {
    list-style: none;
  }
  
  .resetpwForm {
    width: 1280px;
    border: 0;
    background-color: #ffffff;
    margin: 0 auto;
    align-items: center;
  }
  
  .togoFind {
    width: 1280px;
    border: 0;
    background-color: #ffffff;
    margin: 0 auto;
    align-items: center;
  }
  
  .resetpwForm h2 {
    color: #3A3A3A;
    margin-top: 70px;
    text-align: center;
    font-family: Sandoll Cameo;
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 140%;
    letter-spacing: 0.3px;
  }
  
  .resetpwExplain {
    color: #555;
    margin-top: 24px;
    margin-bottom: 44px;
    text-align: center;
    font-family: SUIT Variable;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  
  .resetpwForm strong {
    color: #555;
    margin-left: 469px;
    font-family: 'SUIT Variable', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
  }
  
  .oripwText {
    display: flex;
    width: 295px;
    height: 26px;
    padding: 12px 23px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 469px;
    background-color: white;
    color: black;
    font-family: SUIT Variable;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    align-items: center;
    cursor: pointer;
    border-radius: 26px;
    border: 1px solid var(--festie-gray-600, #949494);
  }
  
  .newpwText {
    display: flex;
    width: 295px;
    height: 26px;
    padding: 12px 23px;
    margin-top: 4px;
    margin-left: 469px;
    background-color: white;
    color: black;
    font-family: SUIT Variable;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    align-items: center;
    cursor: pointer;
    border-radius: 26px;
    border: 1px solid var(--festie-gray-600, #949494);
  }
  
  /* 클릭 시 테두리 색 변경 */
  .oripwText:focus {
    border: 1px solid #FF7A00;
    outline: none;
  }
  
  .newpwText:focus {
    border: 1px solid #FF7A00;
    outline: none;
  }

  .resetpworialert {
    display: inline-block;
    color: #E90000;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 12px;
    font-family: SUIT Variable;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  .resetpwnewalert {
    display: inline-block;
    color: #949494;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 12px;
    font-family: SUIT Variable;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  
  .doneBtn {
    display: flex;
    width: 295px;
    height: 26px;
    padding: 12px 23px;
    margin-top: 12px;
    margin-left: 469px;
    margin-bottom: 26px;
    background-color: #c8c8c8;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: SUIT Variable;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    cursor: pointer;
    border-radius: 26px;
  }
  
  .togofindText {
    color: #6f6f6f;
    margin-top: 26px;
    margin-left: 469px;
    font-family: SUIT Variable;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }
  
  .resetfindBtn {
    color: #3a3a3a;
    margin-left: 45px;
    font-family: SUIT Variable;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    cursor: pointer;
  }
  
  input.togoBtn {
    background: url("../assets/chevron_down.svg") no-repeat;
    border: none;
    width: 20px;
    height: 20px;
    vertical-align: sub;
    cursor: pointer;
  }
  