.tops {
    border-bottom: 1px solid #E8E8E8;
    height: 80px;
}
.tops h1 {
    font-size: 16px;
}

.breadcrumb span {
    margin: 0 15px;
}

.breadcrumb {
    margin-left: 90px;
    margin-top: 42px;
    font-size: 14px;
    color: rgb(161, 161, 161);
}

.banner {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.banner img {
    width: 1300px;
    height: 220px;
    border-radius: 40px;
    margin-bottom: 33px;
    filter: brightness(80%);
}

.banner button {
    position: absolute;
    top: 64%;
    left: 20%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 1;
    font-size: 17px;
    border: none;
    padding: 0 18px;
    height: 45px;
    border-radius: 40px;
    background-color: rgb(255, 132, 0);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.banner span {
    margin-left: 10px;
}
.banner h1 {
    position: absolute;
    top: 22%;
    left: 30%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    z-index: 1;
    font-size: 28px;
    color: aliceblue;
}

.banner h2 {
    position: absolute;
    top: 37%;
    left: 38.5%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    z-index: 1;
    font-size: 16px;
    color: aliceblue;
}

.categories {
    display: flex;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 10px;
    margin-left: 90px;
    margin-right: 100px;
}

.categories .category {
    margin-right: 22px;
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.categories .category.selected {
    font-weight: bold;
    color: black;
}

.categories .category:not(.selected):not(.disable-hover):hover {
    color: gray;
}

.categories h1:last-child {
    margin-right: 0;
}

.categories-btn {
    margin-left: 90px;
    margin-right: 100px;
    margin-bottom: 10px;
    border-bottom: 1px solid #E8E8E8;
}

.categories-btn button {
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    height: 30px;
    border: none;
    padding: 0 10px;
    cursor: pointer;
}

.category-btn:hover {
    background-color: rgb(255, 132, 0);
    color: white;
}
.reset {
    display: flex;
    margin-left: 90px;
    margin-right: 100px;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 50px;
}

.reset button {
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 15px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.reset-icon {
    margin-right: 5px;
    transform: rotateY(180deg);
}

.selected-button {
    background-color: rgb(255, 132, 0) !important;
    color: white;
    padding: 0 10px;
    cursor: pointer;
}

.serch {
    display: flex;
    margin-top: -15px;
    margin-left: 92px;
    margin-bottom: -40px;
}

.serch h1 {
    margin-right: 10px;
    font-size: 16px;
    color: gray;
}

.serch h2 {
    margin-right: 5px;
    font-size: 16px;
    margin-top: 11px;
    color: rgb(77, 77, 77);
}

.serch-box select {
    border: none;
    background-color: transparent;
    font-size: 16px;
    display: inline-block;
    width: auto;
    margin-left: -18px;
    margin-top: 8px;
    cursor: pointer;
}

.serch-box {
    margin-left: 1090px;
}
.addBtn {
    position: fixed;
    top: 340px;
    right: 50px;
    background-color: white;
    border: 2px solid rgb(255, 132, 0);
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    z-index: 2;
}
.topBtn {
    position: fixed;
    opacity: 0;
    bottom: 300px;
    right: 30px;
    z-index: -10;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 0 none;
    background: #FFE500;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: opacity 0.3s ease-in;
}
.topBtn.active {
    z-index: 10;
    opacity: 1;
}

.topBtn:hover,
.topBtn:focus,
.topBtn:active {
    outline: 0 none;
}
.poster .fa-icon {
    height: 22px; /* 원하는 높이로 설정 */
  }
.poster {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.poster-img {
    width: 245px;
    height: auto;
    border-radius: 20px;
}
.poster-wrap {
    position: relative;
    margin: 40px;
}
.postertxt {
    position: absolute;
    top: 4.8%;
    right: -12.4%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    z-index: 1;
    font-size: 13px;
    color:  rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.7);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
  }
  
.concertName {
    font-size: 15px;
}
.place {
    color: gray;
    font-size: 14px;
    margin-top: -5px;
}
.date {
    color: gray;
    font-size: 14px;
    margin-top: -5px;
}
.footer {
    height: 200px;
    border-top: 1px solid #E8E8E8;
}

.footer h1 {
    font-size: 16px;
}